body {
  background-color: #fafafa;
}

/*Search Bar*/
.search-bar {
  margin: 20px 0 20px;
  text-align: left;  
}

.search-bar input {
  width: 100%;
  padding: 12px;
}

/*Video Item*/
.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;  
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 15px;
}

.video-detail .details .title {
  font-size: 1.5em;
}

.published-at {
  padding-top: 10px;
}

/*Video List*/
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #fafafa;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* */

@media screen and (min-width: 767px) and (max-width: 991px) {
  .media {
    display: block;
  }

  .media-body {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .col-md-4 {
    padding-left: 15px;
    margin: 20px 0;
  }
}

/*Loading Icon*/
[data-loader] {
  margin: 8px;
}

[data-loader='logo-circle'] {
  width: 155px;
  height: 155px;
  -webkit-animation: circle infinite .75s linear;
  -moz-animation: circle infinite .75s linear;
  -o-animation: circle infinite .75s linear;
  animation: circle infinite .75s linear;
  border: 4px solid #e52d27;
  border-top-color: transparent;
  border-radius: 100%;
  display: block;
  margin: auto;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
